# Discord token - REQUIRED!
# Follow instructions from
#   https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=

# Default status if nothing is playing
DISCORD_STATUS=Ready to play!

# Prefix to use for commands
DISCORD_PREFIX=!

# Time after which to purge old bot messages
DISCORD_PURGETIME=60

# Update the bot's status on Discord every time the song changes
DISCORD_PLAYSTATUS=true

# Base URL of the AzuraCast installation. Leave it set to this default for Docker installs.
AZURACAST_URL=http://nginx